@model System.Collections.Generic.List<Entity.Concrete.Message2>

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}



<!DOCTYPE html>
<html>

<body>

<div class="wrapper wrapper-content">
        <div class="row">
            @await Html.PartialAsync("SendboxAndInboxPartial")
            <div class="col-lg-9 animated fadeInRight">
            @await Html.PartialAsync("MessageBoxPartial")
             <h2>
                              Inbox (@Model.Count)
                              </h2>
                <div class="mail-box">

                <table class="table table-hover table-mail">
                    <tbody>
                    @foreach(var item in Model)
                    {
                    <tr class="unread">
                        <td class="check-mail">
                            <input type="checkbox" class="i-checks">
                        </td>
                        <td class="mail-ontact"><a href="/Admin/Message/ReadMessage/@item.Id">@item.SenderWriter.Name</a></td>
                        <td class="mail-subject"><a href="/Admin/Message/ReadMessage/@item.Id">@item.Subject</a></td>
                        <td class="text-right mail-date"><a href="/Admin/Message/ReadMessage/@item.Id">@item.Date.ToString("dd/MM/yyyy")</a></td>
                        <td><a href="/Admin/Message/ReadMessage/@item.Id" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" ><i class="fa fa-eye"></i> </a></td>
                         <td><a href="/Admin/Message/DeleteMessage/@item.Id" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-trash-o"></i> </a> </td>
                    </tr>
                    }
                    </tbody>
                </table>


                </div>
            </div>
        </div>
        </div>


</body>

</html>

