
<div class="mail-box-header">
    <form method="get" action="index.html" class="float-right mail-search">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" name="search" placeholder="Search email">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>
        <a href="/Admin/Message/Inbox/" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox">
            <i class="fa fa-refresh"></i> Refresh
        </a>
        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i> </button>
        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as important"><i class="fa fa-exclamation"></i> </button>
        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </button>
</div>

