
<nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                @await  Component.InvokeAsync("AdminProfile")
                
                <li>
                    <a href="/Blog/Index/"><i class="fa fa-home"></i> <span class="nav-label">Home Page</span></a>
                </li>
                
                <li>
                    <a href="/Admin/ApplicationUser/EditProfile/"><i class="fa fa-edit"></i><span class="nav-label">Edit Profile</span></a>
                 
                </li>
                <li>
                    <a href="/Admin/Widget/Index/"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
                </li>
                
                <li>
                    <a href="/Admin/Chart/Index/"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span></a>
                </li>
                <li>
                    <a href="/Admin/Order/Index/"><i class="fa fa-list-alt  "></i> <span class="nav-label">Orders</span>  </a>
                                 
                </li>
                
                
                <li>
                    <a href="~/AdminTema/mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span><span class="label label-warning float-right">@ViewBag.CountIn/@ViewBag.CountSend</span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/Admin/Message/Inbox">Inbox</a></li>
                        <li><a href="/Admin/Message/Sendbox/">Sendbox</a></li>
                        <li><a href="/Admin/Message/ComposeMessage">Compose email</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="/Admin/Role/Index"><i class="fa fa-pie-chart"></i> <span class="nav-label">Roles</span>  </a>
                </li>
                
                <li>
                    <a href="/Admin/Category/List/"><i class="fa fa-group"></i> <span class="nav-label">Categories</span></a>
                </li>
                
                <li>
                    <a href="/Admin/Blog/Index/"><i class="fa fa-list-alt  "></i> <span class="nav-label">Blogs</span>  </a>
                 
                </li>
                
                <li>
                    <a href="/Admin/Comment/Index"><i class="fa fa-comment"></i> <span class="nav-label">Comments</span></a>
                </li>
                
                <li>
                    <a href="/Admin/Writer/Index/"><i class="fa fa-pencil"></i> <span class="nav-label">Writers</span>  </a>
                </li>
                <li>
                    <a href="/Admin/ApplicationUser/Index/"><i class="fa fa-user"></i> <span class="nav-label">ApplicationUser</span>  </a>
                    </li>
                
                <li>
                    <a href="metrics.html"><i class="fa fa-info"></i> <span class="nav-label">Settings</span>  </a>
                    </li>
                
                <li>
                        <a href="/Admin/Notification/Index"><i class="fa fa-bell"></i> <span class="nav-label">Notifications</span></a>
                    </li>
                
                <li>
                         <a href="/Contact/Index/"><i class="fa fa-phone"></i> <span class="nav-label">Contact</span>  </a>
                    </li>
                
                <li>
                        <a href="/About/Index/"><i class="fa fa-address-book"></i> <span class="nav-label">About Us</span></a>
                    </li>
                
                <li>
                    <a href="/Admin/Report/ExportStaticCsv/"><i class="fa fa-book"></i> <span class="nav-label">Raport operations</span></a>
                </li>
               
                
            </ul>

        </div>
    </nav>
