@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    ViewBag.Title = "Update";
    Layout = "_AdminLayout";
}



<!DOCTYPE html>
<html>
<head>
    <title>Edit Role</title>
    <style>
        .custom-form {
        	border: 1px solid #ccc;
        	padding: 20px;
        	border-radius: 10px;
        	margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 custom-form">
                <h1 class="text-center">Edit Role</h1>
                <form asp-controller="Role" asp-action="Update" method="post">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="form-group">
                        <label for="title">Name:</label>
                        <input type="text" id="title" name="Name" class="form-control" value="@Model.Name" placeholder="Enter role name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-warning"><i class="fa fa-save"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
