@using Entity.Concrete
@model List<Blog>

<div class="tech-btm">
    <h3>Latest Posts</h3>
    @foreach (var item in Model)
    {

        <div class="blog-grids row mb-3">
            <div class="col-md-5 blog-grid-left">
                <a href="/Blog/Details/@item.Id">
                    <img src="@item.ImageUrl" class="card-img-top img-fluid" alt="">
                </a>
            </div>
            <div class="sub-meta">

                <h5>
                    <a href="/Blog/Details/@item.Id">@item.Title</a>
                </h5>
                <div class="sub-meta">
                    <span>
                        <i class="far fa-clock"></i> @(((DateTime)item.CreatedAt).ToString("dd-MMM-yyyy"))</span>
                </div>
            </div>

        </div>
    }		
</div>