
<li class="nav-header">
    <div class="dropdown profile-element">
        <img alt="image" class="rounded-circle" src="@ViewBag.Image" style="height: 50px; width: 50px;" />
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="block m-t-xs font-bold">@ViewBag.Name</span>
            <span class="text-muted text-xs block">@ViewBag.Email<b class="caret"></b></span>
        </a>
    </div>
    <div class="logo-element">
        IN+
    </div>
</li>