<div class="tech-btm">
    <p>Teknologi, Koding and other Blogs</p>
    <form id="subscriptionForm2">
        <input type="email" id="txtEmail2" name="Email" class="tech-btm" placeholder="Email" required="">
        <input type="submit" id="btnSubscribe2" value="Subscribe"/>
    </form>
</div>

<!-- Path: BlogWeb\Views\NewsLetter\SubscribeEmail.cshtml -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#subscriptionForm2").submit(function (event) {
             event.preventDefault(); // Prevent the default form submission behavior
        let subscriber = { Email: $("#txtEmail2").val() 
        
        };
        $.ajax({
            type: "POST",
            url: "/NewsLetter/SubscribeEmail/",
            data: subscriber,
            success: function (data) {
                alert("Email subscribed to the newsletter.");
                $("#txtEmail2").val("");
                
            },
            error: function () {
                alert("Email already subscribed to the newsletter.");
                $("#txtEmail2").val("");
                
            }
        });
    });
</script>