@model Entity.Concrete.Writer

@{
    ViewBag.Title = "Index";
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Registration Success</title>
</head>
<body>
    <h1>Registration Successful</h1>
    <p>Thank you for registering as a Writer. Your registration is received and will be processed shortly.</p>
    <p>You will receive a response as soon as possible.</p>
    <p><a href="/">Go back to the homepage</a></p>
</body>
</html>

