@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<h1>BlogListExcel</h1>

<button class="btn btn-primary" onclick="downloadExcel()">Download Excel</button>


<script>
    function downloadExcel() {
        var confirmMessage = "Are you sure you want to download it?";
        if (confirm(confirmMessage)) {
            window.location.href = "/Admin/Blog/ExportStaticExcel";
        }
        return false;
    }
</script>