
<div class="header_top" id="home">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>


			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/Blog/index">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/About/Index">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/Blog/Index">Blogs</a>
					</li>
					 @if (User.IsInRole("Writer"))
					 {
						 <li class="nav-item">
							 <a class="nav-link" href="/Dashboard/Index">Writer Dashboard</a>
						 </li>
					 }
					<li class="nav-item">
						<a class="nav-link" href="/Contact/Index">Contact</a>
					</li>
					
                      @if (User.IsInRole("Admin"))
                      {
	                      <li class="nav-item">
		                      <a class="nav-link" href="/Admin/Widget/Index/">Admin Dashboard</a>
	                      </li>
	                      
                      }
					 <li class="nav-item">
						 <a class="nav-link" href="/Writer/Index">WriterRegister</a>
					 </li>
					 <li class="nav-item">
						 <a class="nav-link" href="/Membership/Index">Become a Subscriber</a>
					 </li>
					 
				</ul>
				<form asp-action="Index" asp-controller="Blog" asp-area="" class="form-inline my-2 my-lg-0 header-search">
					<input class="form-control mr-sm-2" type="search" value="@ViewData["currentFilter"]" placeholder="Search with title here..." name="Search" >
					<button class="btn btn1 my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
				</form>



			</div>
		</nav>

	</div>