<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Static Tables</title>

    <link href="~/AdminTema/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminTema/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/AdminTema/css/animate.css" rel="stylesheet">
    <link href="~/AdminTema/css/style.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        @await Html.PartialAsync("~/Areas/Admin/Views/Admin/AdminNavBarPartial.cshtml")

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome to YunusBlog</span>
                </li>
                @await Component.InvokeAsync("MessageAdminPanel")
                @await Component.InvokeAsync("NotificationAdminPanel")


                <li>
                    <a href="/Identity/Account/Logout">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>

        </nav>
        </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                
                @RenderBody()
                
            </div>
        <div class="footer">
            <div class="float-right">
                Enjoy <strong>10GB</strong> out of <strong>250GB</strong> for Free.
            </div>
            <div>
                 &copy; 2023-2024 YunusBlog Company. All rights reserved.
            </div>
        </div>

        </div>
        </div>



    <!-- Mainly scripts -->
    <script src="~/AdminTema/js/jquery-3.1.1.min.js"></script>
    <script src="~/AdminTema/js/popper.min.js"></script>
    <script src="~/AdminTema/js/bootstrap.js"></script>
    <script src="~/AdminTema/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/AdminTema/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<!-- Peity -->
    <script src="~/AdminTema/js/plugins/peity/jquery.peity.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/AdminTema/js/inspinia.js"></script>
    <script src="~/AdminTema/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="~/AdminTema/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Peity -->
    <script src="~/AdminTema/js/demo/peity-demo.js"></script>
    
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
@await RenderSectionAsync("scripts" , required: false)
</body>

</html>


