
@{
    ViewBag.Title = "Index";
    Layout = "_AdminLayout";
}


<!DOCTYPE html>
<html>
<head>
    <title>Pie Chart Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<!-- Grafik için bir yer belirliyoruz -->
<div id="chartDiv" style="width: 800px; height: 600px;"></div>

<script type="text/javascript">
        // Sayfa yüklendiğinde grafik oluşturmak için bu fonksiyonu çağırıyoruz
        google.charts.load('current', {'packages' : ['corechart'] });
        google.charts.setOnLoadCallback(DrawPieChart);

        function DrawPieChart(){
            // AJAX ile verileri alıyoruz (örnek olarak bir dizi kullanıyoruz)
            $.ajax({
                 type: "GET",
                 url: "/Admin/Chart/CategoryChart/",
                 success: function(chartsdata) {
                   var jsonData = chartsdata.jsonlist;
                     console.log(jsonData);
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'name');
            data.addColumn('number','count');

           
            for (var i = 0; i < jsonData.length; i++){
                data.addRow([jsonData[i].name, jsonData[i].count]);
            }

            var options = {
                title: "Google Charts Projesi",
                position: "top",
                fontSize: "16px"
            };

            // Pasta grafik oluşturuyoruz
            var chart = new google.visualization.PieChart(document.getElementById('chartDiv'));
            chart.draw(data, options);
        }
    });
}
    </script>
</body>
</html>
